@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:antiquewhite; margin : 20px auto;
        width:90%;
      box-shadow: 75px 5px 85px 25px;">
    <br />
    <h1 style="color:red;
        font-display: block;
        font-weight: 400;
        font-family:'Algerian';
        font-size: 60px;
        text-align: center;">
        @ViewBag.Welcome

    </h1>
    <div style="font-size:20px;">
        “Somebody who only reads newspapers and at best books of contemporary authors
        looks to me like an extremely near-sighted person who scorns eyeglasses. He is
        completely dependent on the prejudices and fashions of his times,
        since he never gets to see or hear anything else.” – Albert Einstein
    </div>
    </br>
    <div class="row">
        <div class="col-sm-3">
            <img src="~/Image/Book2.jpeg" />
        </div>
        <div class="col-sm-3">
            <img src="~/Image/Book1.jpeg" />
        </div>
        <div class="col-sm-3">
            <img src="~/Image/Book3.jpeg" />
        </div>
        <div class="col-sm-3">
            <img src="~/Image/Book4.jpeg" />
        </div>
    </div>
    <br />
    <br />
</body>
</html>
